*{
    margin: 0;
    padding: 0;
    top: 0px;
    left: 0px;
}
body{
   
}
header{
    width: auto;
}
header div{
    width: auto;
    height: 50px;
    /* background-color:red; */
    background-image: linear-gradient(to right,yellow ,blue ,black);
    background-size: 300%;
     animation: mover;
            animation-duration: 10s;
            
            animation-fill-mode:forwards;
            animation-iteration-count: infinite;
            animation-timing-function:ease-in;
            animation-direction: alternate;
}
 @keyframes mover {
        0%{background-position: right;}
        100%{background-position: left;}
        
       }
header div h2{
  position: relative;
  top: 10px;
  left: 100px;
}
form{
    width: 300px;
    height: 200px; 
    border: solid 2px black;
     position: relative;
    top: 100px;
    left: 10px; 
   
}

.unit{
    display: grid;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    grid-template-columns: 1fr 1fr;

}
.unit label{
    padding-right: 10px;
}
.unit input{
    width: 200px;
}

button{
    all: unset;
    width: 40px;
    height: 20px;
    border: solid 1px black;
    align-items: center;
    position: relative;
    margin-top:10px ;
    margin-left: 145px;
    border-radius: 3px;
   
}
button:hover{
   background-color: aqua;
   transform: scale(2);
   
}

.loginBox{
    position: relative;
   width: 320px;
   height: 500px;
   top: 80px;
   left: 550px;
   align-content: center;
    /* border: solid 2px black; */
    background-color: beige;
}
@media (max-width: 600px) {
    .loginBox{
        left: 100px;
    }
}